<div class="footer-section">
  <div class="left">
    <img src="assets/images/logo.png" alt="Madity Logo" class="logo" />
  </div>
  <div class="center">
    <h1 class="title">Contactez nous</h1>
    <p>
      <fa-icon [icon]="faPhone" class="icon"></fa-icon>
      034 34 034 34
    </p>
    <p>
      <fa-icon [icon]="faMail" class="icon"></fa-icon>
      email@gmail.com
    </p>
    <p>
      <fa-icon [icon]="faLocation" class="icon"></fa-icon>
      LOT Adresse
    </p>
    <div class="social-links">
      <ul class="links">
        <li>
          <a href="#f">
            <fa-icon
              [icon]="faFacebookSquare"
              class="social-icon icon"
            ></fa-icon>
          </a>
        </li>
        <li>
          <a href="#g">
            <fa-icon [icon]="faGithub" class="social-icon icon"></fa-icon>
          </a>
        </li>
        <li>
          <a href="#i">
            <fa-icon [icon]="faInstagram" class="social-icon icon"></fa-icon>
          </a>
        </li>
        <li>
          <a href="#l">
            <fa-icon [icon]="faLinkedIn" class="social-icon icon"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <h1 class="title">NewsLetter</h1>
    <p class="description">
      Abonnez-vous à notre newsletter pour les dernières nouvelles et les mises
      à jour!
    </p>
    <div class="mail-input">
      <input type="email" placeholder="Email" />
      <button class="send">Envoyer</button>
    </div>
    
    <a href="#" class="mt-5 arrows">
      <fa-icon [icon]="faArrowUp" class="arrow-icon me-2"></fa-icon>
    </a>

  </div>
</div>
