<div class="footer-section">
  <div class="left">
    <img src="../../assets/images/logo.png" alt="Madity Logo" class="logo" />
  </div>
  <div class="center">
    <h1 class="title">Contactez nous</h1>
    <p>034 34 034 34</p>
    <p>
      email@gmail.com
    </p>
    <p>
      LOT Adresse
    </p>
  </div>
  <div class="right">
    <h1 class="title">NewsLetter</h1>
    <p class="description">
      Abonnez-vous à notre newsletter pour les dernières nouvelles et les mises
      à jour!
    </p>
    <div class="mail-input">
      <input type="email" placeholder="Email" />
      <button class="send">Envoyer</button>
    </div>
  </div>
</div>
