@import "../../assets/scss_init.scss";
.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark_color;
    padding: 3rem;
}

h1 {
    margin-bottom: 2rem;
}

p {
    margin-bottom: 1rem;
}

.center,
.right {
    margin-left: 3rem;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    object-fit: cover;
    max-width: 80%;
    width: 80%;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

.right {
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mail-input {
    display: flex;
}

.mail-input input {
    flex: 2;
    outline: none;
    margin-right: 0.2rem;
}

.mail-input input {
    padding: 0.4rem;
}

.mail-input button {
    padding: 0.3rem;
    flex: 1;
}

.mail-input button {
    color: white;
    background-color: $primary_color;
    border: $primary_color solid 0.2rem;
    transition: all 0.2s ease-in-out;
}

.mail-input button:hover {
    background-color: transparent;
    border: $primary_color solid 0.2rem;
}

.center .icon {
    color: $primary_color;
    margin-right: 0.5rem;
}

.center .social-links .links li {
    list-style: none;
    margin-right: 2rem;
}

.center .social-links .links li a .social-icon {
    transition: all 0.2s ease-in-out;
}

.center .social-links .links li:hover a .social-icon {
    color: white;
}

.center .social-links .links {
    display: flex;
}

.center .social-links .social-icon {
    font-size: 2rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/***********************RESPONSIVE*********************/

@media only screen and (max-width: 1080px) {
    .footer-section {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
        padding-top: 1rem;
    }
    .left,
    .center,
    .right {
        margin-left: 0;
        padding-bottom: 1.5rem;
    }
    .center,
    .right {
        align-items: center;
    }
    .description {
        text-align: center;
    }
    .links {
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
    }
    .links li {
        margin-right: 0;
    }
    .mail-input {
        flex-direction: column;
        justify-content: center;
        width: 90vw;
    }
    .mail-input input {
        margin-right: 0;
        margin-bottom: 0.6rem;
    }
    .left img {
        max-width: 30%;
        width: 80%;
    }
}