@import "../../assets/scss_init.scss";
.footer-section {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark_color;
    padding: 3rem;
}

h1 {
    margin-bottom: 2rem;
}

p {
    margin-bottom: 1rem;
}

.left,
.center,
.right {
    margin-left: 3rem;
}

.left {
    flex: 1;
}

.left img {
    object-fit: cover;
    max-width: 80%;
    width: 80%;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

.right {
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mail-input input {
    outline: none;
    margin-right: 0.2rem;
}

.mail-input input {
    padding: 0.4rem;
}

.mail-input button {
    padding: 0.3rem;
}

.mail-input button {
    color: white;
    background-color: $primary_color;
    border: $primary_color solid 0.2rem;
    transition: all 0.2s ease-in-out;
}

.mail-input button:hover {
    background-color: transparent;
    border: $primary_color solid 0.2rem;
}

.center .icon {
    color: $primary_color;
    margin-right: 0.5rem;
}

.center .social-links .links li {
    list-style: none;
    margin-right: 2rem;
}

.center .social-links .links li a .social-icon {
    transition: all 0.2s ease-in-out;
}

.center .social-links .links li:hover a .social-icon {
    color: white;
}

.center .social-links .links {
    display: flex;
}

.center .social-links .social-icon {
    font-size: 2rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}