<carousel [arrows]="true"  [height]="500" [cellWidth]="400" [loop]="true" [dots]="true" 
[autoplay]="true" [cellsToScroll]="7">
    <div class="carousel-cell">
        <div class="content-card-container">
            <div class="content-card">
                <p>Le passé de Madagascar fait qu'une forte culture francophone existe. L'ensemble de nos équipes parlent Français et Anglais.  </p>
                <a href="#">Details</a>
            </div>
        </div>
    </div>
    <div class="carousel-cell" >
        <div class="content-card-container img2">
            <div class="content-card">
                <p>Nos équipes sont localisées à Antananarivo et Fianarantsoa</p>
                <a href="#">Details</a>
            </div>
        </div>
    </div>
    <div class="carousel-cell" >
        <div class="content-card-container img3">
            <div class="content-card">
                <p>Madagascar bénéficie de la meilleure connexion du continent Africain</p>
                <a href="#">Details</a>
            </div>
        </div>
    </div>
    <div class="carousel-cell" >
        <div class="content-card-container img4">
            <div class="content-card">
                <p>Avec une forte implantation locale à Madagascar ainsi qu'une antenne en Europe, nous sommes à même de vous accompagner sur vos projets</p>
                <a href="#">Details</a>
            </div>
        </div>
    </div>
</carousel>