<div class="more-information-section">
  <div class="left">
    <h2 class="title">COUTS</h2>
    <p>
      Nous rémunérons nos équipes bien au-dessus des salaires locaux, nous
      permettant ainsi d'avoir les meilleurs développeurs et ingénieurs, et les
      conserver. Cependant, nous vous offrons des prestations entre 2 à 4 fois
      moins cher que des ressources locales. Nous sommes également fiers de
      pouvoir faire bénéficier à nos équipes une redistribution des profits de
      la société qui est en ligne avec nos valeurs de partage et de
      redistribution.
    </p>
    <a href="#" class="more">En savoir plus</a>
  </div>
  <div class="right">
    <img src="assets/images/pexels-jopwell-2422288.jpg" alt="" />
  </div>
</div>
