<div class="who">
    <h2>Qui sommes nous?</h2>
    <p>Madity est une société de conseil qui vous permet de réaliser vos projets technologiques en réduisant votre cout de production et d'exploitation. 
    L'équipe fondatrice de Madity est à la croisée des chemins entre Madagascar, Paris et Bruxelles,
     avec plus de 20 ans d'expérience dans le monde du conseil IT et de l'externalisation de services. 
     Avec une forte implantation locale à Madagascar ainsi qu'une antenne en Europe, nous sommes à même de vous accompagner sur vos projets. </p>

</div>