<div class="who-section">
  <div class="for-background-image"></div>
  <div class="who">
    <h1 class="title">
      Qui sommes-nous?
    </h1>
    <div class="title_content">
      <h1 >MADITY</h1>
      <h5 class="fw-600 mb-2" >VOTRE PARTENAIRE DE CONFIANCE</h5>
    </div>
    <p class="mt-3">
      Madity est une société de conseil qui vous permet de réaliser vos projets
      technologiques en réduisant votre cout de production et d'exploitation.
      L'équipe fondatrice de Madity est à la croisée des chemins entre
      Madagascar, Paris et Bruxelles, avec plus de 20 ans d'expérience dans le
      monde du conseil IT et de l'externalisation de services.
      <br />
      Avec une forte implantation locale à Madagascar ainsi qu'une antenne en
      Europe, nous sommes à même de vous accompagner sur vos projets.
    </p>
   
  </div>
</div>
