@import "../../assets/scss_init.scss";
.who {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 3rem;
    color: white;
    // background-color: $primary_color;
}
.title{
    font-size: 2rem;
    text-transform: uppercase;
}
.for-background-image {
    background: url("../../assets/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.who-section {
    background-color: $primary_color;
    position: relative;
}

.title{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.who p {
    padding-bottom: 2rem;
}

.who .discover {
    background-color: white;
    color: $primary_color;
    border: none;
    text-transform: uppercase;
    border-radius: 3rem;
    font-weight: 400;
    padding: 0.3rem 2rem;
    z-index: 2;
    position: relative;
    border: white solid 0.2rem;
    transition: all 0.3s ease-in-out;
}

.who .discover:hover {
    background-color: transparent;
    color: white;
    border: white solid 0.2rem;
}
.title_content{
    text-align: left;
    align-items: start;
}