<div fxLayout="column wrap" >
  <div class="myMatCarousel1 mb-5">
    <mat-carousel timings="500ms ease-in" [autoplay]="true" [interval]="7000" [maintainAspectRatio]="false" [slides]="2"
       [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true"
       [useMouseWheel]="true " orientation="ltr">
      <mat-carousel-slide #matCarouselSlide overlayColor="#FFF">
        <div _ngcontent-pjl-c66="" fxlayout="row wrap" fxlayoutalign="center center" class="myMatCarouselSlide1" style="flex-flow: row wrap;box-sizing: border-box;display: flex;place-content: center;align-items: center;justify-content: space-evenly;" ng-reflect-fx-layout="row wrap" ng-reflect-fx-layout-align="center center">
          <mat-card _ngcontent-hjj-c66=""  fxflex="25%" fxflex.xs="90%" fxlayoutalign="center center" fxlayout="column wrap" class="mat-card mat-focus-indicator myCard"  style="flex-flow: column wrap; box-sizing: border-box; display: flex; place-content: center; align-items: center; flex: 1 1 25%; max-width: 25%; justify-content:end;" ng-reflect-fx-layout="column wrap" ng-reflect-fx-layout-align="center center" ng-reflect-fx-flex="25%" ng-reflect-fx-flex.xs="90%">
            <mat-card-content>
                  <p>
                    Le passé de Madagascar fait qu'une forte culture francophone existe. L'ensemble de nos équipes parlent Français
                    et Anglais. 
                  </p>
                  <a href="#">Details</a>
            </mat-card-content>
          </mat-card>
          <mat-card _ngcontent-hjj-c66=""  fxflex="25%" fxflex.xs="90%" fxlayoutalign="center center" fxlayout="column wrap" class="mat-card mat-focus-indicator myCard1"  style="flex-flow: column wrap; box-sizing: border-box; display: flex; place-content: center; align-items: center; flex: 1 1 25%; max-width: 25%; justify-content:end;" ng-reflect-fx-layout="column wrap" ng-reflect-fx-layout-align="center center" ng-reflect-fx-flex="25%" ng-reflect-fx-flex.xs="90%">
          
              <mat-card-content>
              <p class="para">
                Nos équipes sont localisées à Antananarivo et Fianarantsoa
              </p>
              <a href="#">Details</a>
            </mat-card-content>
           
          </mat-card>
          <mat-card _ngcontent-hjj-c66=""  fxflex="25%" fxflex.xs="90%" fxlayoutalign="center center" fxlayout="column wrap" class="mat-card mat-focus-indicator myCard2"  style="flex-flow: column wrap; box-sizing: border-box; display: flex; place-content: center; align-items: center; flex: 1 1 25%; max-width: 25%; justify-content:end;" ng-reflect-fx-layout="column wrap" ng-reflect-fx-layout-align="center center" ng-reflect-fx-flex="25%" ng-reflect-fx-flex.xs="90%">
          
              <mat-card-content>
              <p>
                Madagascar bénéficie de la meilleure connexion du continent Africain
              </p>
              <a href="#">Details</a>
            </mat-card-content>
           
          </mat-card>
        </div>
      </mat-carousel-slide>

      <mat-carousel-slide #matCarouselSlide overlayColor="#FFF">
        <div _ngcontent-pjl-c66="" fxlayout="row wrap" fxlayoutalign="center center" class="myMatCarouselSlide1" style="flex-flow: row wrap;box-sizing: border-box;display: flex;place-content: center;align-items: center;justify-content: space-evenly;" ng-reflect-fx-layout="row wrap" ng-reflect-fx-layout-align="center center">
          <mat-card _ngcontent-hjj-c66=""  fxflex="25%" fxflex.xs="90%" fxlayoutalign="center center" fxlayout="column wrap" class="mat-card mat-focus-indicator myCard3"  style="flex-flow: column wrap; box-sizing: border-box; display: flex; place-content: center; align-items: center; flex: 1 1 25%; max-width: 25%; justify-content:end;" ng-reflect-fx-layout="column wrap" ng-reflect-fx-layout-align="center center" ng-reflect-fx-flex="25%" ng-reflect-fx-flex.xs="90%">
            <mat-card-content>
                  <p>
                    Avec une forte implantation locale à Madagascar ainsi qu'une antenne en Europe, nous sommes à même de vous accompagner sur vos projets. 
                  </p>
                  <a href="#">Details</a>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-carousel-slide>
      </mat-carousel>
  </div>