.myMatCarousel1{
    background-color: blue;
    /* padding-top: 50px; */
    height: 500px;
    width: 100%;
}
.myMatCarousel2{
    background-color: green;
    /* padding-top: 50px; */
    height: 350px;
    width: 100%;
}
.myMatCarouselSlide1{
    margin-top: 30px;
}
.myMatCarouselSlide2{
    margin-top: 30px;
    height: 300px;
}