@import "../../assets/scss_init.scss";
.navbar-toggler {
    color: white;
    fill: white;
    outline: none;
}

#main_nav {
    transition: 0.3s ease;
}

.navbar {
    z-index: 10001;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    transition: 0.3s ease;
    min-width: 100vw;
    .container-fluid {
        .navbar-brand {
            &:hover {
                transition: all 0.3s ease;
                transform: rotate(3deg) scale(1.2);
            }
            img {
                height: 2.5rem;
            }
        }
        .collapse {
            .navbar-nav {
                .nav-item {
                    margin-left: 0.6rem;
                    margin-top: 0.8rem;
                    padding-top: 0;
                    padding-bottom: 0.2rem;
                    padding-left: 0;
                    padding-right: 0;
                    transition: all 0.3s ease;
                    border-bottom: 2px solid transparent;
                    a {
                        font-family: "Urbanist", sans-serif;
                        padding-bottom: 0.5rem;
                        padding-left: 0.5rem;
                        color: white;
                        text-decoration: none;
                        transition: all 0.3s ease;
                    }
                    &:hover,
                    &.active {
                        border-bottom: 2px solid white;
                        a {
                            transition: all 0.3s ease;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.navbar.navbar_scrolled {
    background-color: $primary_color !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    .collapse {
        .navbar-nav {
            .nav-item {
                &:hover,
                &.active {
                    border-bottom: 2px solid white;
                    .nav-link {
                        transition: all 0.3s ease;
                        color: white;
                    }
                }
            }
        }
    }
}

@import "./navbar.responsive.scss";