<div class="navbar navbar-expand-md navbar-dark ">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="../../assets/images/logo/logo.png" alt="Madity_logo"class=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active"><a href="#" class="nav-link">ACCUEIL</a></li>
                <li class="nav-item"><a href="#" class="nav-link">NOS SERVICES</a></li>
                <li class="nav-item"><a href="#" class="nav-link">TECHNOLOGIES</a></li>
                <li class="nav-item"><a href="#" class="nav-link">CONTACTS</a></li>
            </ul>
        </div>
    </div>
</div>