@import "../../assets/scss_init.scss";
.navbar-toggler{
    color: white;
    fill: white;
}
.navbar{
    z-index: 3;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: .3rem;
    padding-top: .3rem;
    position: sticky;
    background-color: transparent;
    top: 0;
    .container-fluid{
        .navbar-brand{
            &:hover{
                transform: rotate(3deg) scale(1.2);
            }
            img{
                height: 2.5rem;
            }
        }
        .collapse{
            .navbar-nav{
                font-weight: 700;
        
                .nav-item{ 
                    margin-left: .6rem;
                    margin-top: .8rem;
                    padding-top: 0;
                    padding-bottom: .2rem;
                    padding-left: 0;
                    padding-right: 0;
                    transition: all .3s ease;
                    border-bottom: 2px solid transparent;
                    a{
                        font-family: 'Urbanist', sans-serif;
                        padding-bottom: .5rem;
                        padding-left: .5rem;
                        color: white;
                        text-decoration: none;
                        transition: all .3s ease ;
                    }
                    &:hover,&.active{
                        border-bottom: 2px solid white;
                        a{
                            transition: all .3s ease;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
.navbar.navbar_scrolled{
    background-color: $primary_color!important;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    .collapse{

        .navbar-nav{
            .nav-item{
                &:hover,&.active{
                    border-bottom: 2px solid white;
                    .nav-link{
                        transition: all .3s ease;
                        color: white;
                    }
                }
            }
        }
    }
}


@import "./navbar.responsive.scss";


// @import "../../assets/scss_init.scss";
// .a_navbar{
//     z-index: 2;
//     padding-top: 1rem;
//     padding-left: 4rem;
//     padding-right: 4rem;
//     margin: 0;
//     display: flex;
//     position: fixed;
//     background-color: transparent;
//     height: 4rem;
//     width: 100%;
//     top: 0;
//     align-items: center;
//     .logo{
//         height: 70%;
//         &:hover{
//             transform: rotate(3deg) scale(1.2);
//         }
//     }

//     .ul{
//         align-items: center;
//         height: 100%;
//         width: 100%;
//         display: flex;
//         list-style: none;
//         font-weight: bold;
//         font-size: .9rem;
//         justify-content: flex-end;

//         .menu_item{ 
//             margin-left: .6rem;
//             margin-top: .8rem;
//             padding-top: 0;
//             padding-bottom: .2rem;
//             padding-left: 0;
//             padding-right: 0;
//             transition: all .3s ease;
//             border-bottom: 2px solid transparent;
//             a{
//                 font-family: 'Urbanist', sans-serif;
//                 padding-bottom: .5rem;
//                 padding-left: .5rem;
//                 color: white;
//                 text-decoration: none;
//                 transition: all .3s ease ;
//             }
//             &:hover,&.active{
//                 border-bottom: 2px solid white;
//                 a{
//                     transition: all .3s ease;
//                     color: $primary_color;
//                 }
//             }
//         }
//     }
// }
// .a_navbar.navbar_scrolled{
//     background-color: $primary_color!important;
//     padding-top: 0;
//     margin: 0;
//     .logo{
//         height: 60%;
//     }
//     .ul{
//         .menu_item{
//             &:hover,&.active{
//                 border-bottom: 2px solid white;
//                 a{
//                     transition: all .3s ease;
//                     color: white;
//                 }
//             }
//         }
//     }
// }


// @import "./navbar.responsive.scss";