
@media only screen and (max-width: 768px){
    #a_navbar{
        margin-top: .5rem;
        padding:0 2rem;
        .logo{
            height: 60%;
        }
    }
}
@media only screen and (max-width: 660px){
    #a_navbar{
        .ul{
            display:none;
        }
        .logo{
            height:80%;
        }
    }
}
@media only screen and (max-width: 425px){
    #a_navbar{
        padding:0 1rem;
        height: 3rem;
        .logo{
            height:70%;
        }
    }
}