@import "../../assets/scss_init.scss";
#carouselExampleCaptions {
    margin-top: -4rem;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
}

.carousel-inner {
    overflow: hidden;
    align-self: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    object-fit: cover;
    width: inherit;
    img {
        object-fit: cover;
        height: 100vh;
    }
}

.carousel-inner:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $primary_transparent;
}

@import "./slider-banner.responsive.scss";