@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary_color : #F4623A;
$gradient_transparent : linear-gradient(0deg, #80543ebb 0%, rgba(0,0,0,0) 100%);
$primary_transparent :#3a261c42;

#carouselExampleCaptions{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}
.carousel-inner{
    overflow: hidden;
    align-self: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    object-fit: cover;
    width: inherit;
    img{
    object-fit: cover;
        height: 100vh;
    }
}
.carousel-inner:after {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: $primary_transparent;
}
.carousel-caption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0;
        margin: 0 6rem;
        left: 0;
        right: 0;
        padding-top: 5rem;
    h1{
        
        font-size: 3.4rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        width: fit-content;
        
    }
    a{
        
        width: fit-content;
        align-self: center;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        background: $primary_color;
        padding: .8rem 2.2rem;
        border-radius: 50px;
        margin: 1rem 0;
    }
    .carousel-indicators{
        
        align-self: center;
        display: flex;
        position: initial;
        margin: 0;
        padding: 0;
        width: fit-content;
        button{
            width: 4rem;
            background-color: $primary_color;
        }
    }
}
.xp{
    color: white;
    margin: 2rem 3rem;
    width: fit-content;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 0;
    
    span{
        color: $primary_color;
    }
}


//reinit

*{
    cursor: default;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
a,button,input{
    cursor: pointer;
}
.pointer{
    cursor:pointer;
}
h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Urbanist', sans-serif;
} 
.hover_scale{
    transition: all .3s ease;
}
.hover_scale:hover{
    transform: scale(1.14);
    transition: all .3s ease;
}
@import "./slider-banner.responsive.scss"
