@media only screen and (max-width: 1800px){
    

.carousel-caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100vh;
    padding: 0;
    margin: 0 6rem;
    left: 0;
    right: 0;
    padding-top: 5rem;
    h1{
        font-size: 3.4rem;
        text-align: start;
        font-weight: 700;
    }
    a{
        align-self: start;
        padding: .8rem 2.2rem;
        margin: 1rem 0;
    }
    .carousel-indicators{
        align-self: start;
        button{
            width: 4rem;
            background-color: $primary_color;
        }
    }
}
.xp{
    margin: 2rem 3rem;
}
    
}
@media only screen and (max-width: 1050px){

    .carousel-caption{
        margin: 0 3rem;
        h1{
            font-size: 3rem;
        }
        a{
            padding: .6rem 2rem;
        }
    }
    .xp{
        margin: 2rem 3rem;
    }
    
}
@media only screen and (max-width: 768px){
    
.carousel-caption{
    a{
        align-self: start;
        padding: .6rem 2rem;
        margin: 1rem 0;
    }
}
}
@media only screen and (max-width: 514px){
    
    .carousel-caption{
        h1{
            font-size: 1.65rem;
        }
    }
}
@media only screen and (max-width: 425px){
    
.carousel-caption{
    margin: 0 2rem;
    h1{
        font-size: 1.8rem;
    }
    a{
        padding: .6rem 1.4rem;
    }
    .carousel-indicators{
        button{
            width: 3.7rem;
        }
    }
}
  
}
@media only screen and (max-width: 290px){
     
.carousel-caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0 1rem;
    left: 0;
    right: 0;
    padding-top: 5rem;
    h1{
        align-items: center;
        font-size: 1.5rem;
    }
    a{
        padding: .4rem 1rem;
    }
    .carousel-indicators{
        button{
            width: 3.4rem;
        }
    }
}

.xp{
    display: none;
}
}
