<div class="project-container">
  <p class="paragraph">
    Nous sommes conscients des enjeux écologiques auxquels notre monde fait
    face. Nos équipes appliquent des consignes strictes pour réduire au maximum
    notre empreinte carbone et suivent les directives des Nations Unies allant
    dans ce sens.
  </p>
  <div class="project-card">
    <div class="left">
      <img src="../../assets/images/project-1.jpg" alt="" class="left-image" />
      <button class="visit">
        visiter le projet
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </button>
    </div>
    <div class="right">
      <img
        src="../../assets/images/details-background.jpg"
        alt=""
        class="right-image"
      />
    </div>
  </div>
</div>
