//@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primary_color : #F4623A;
$gradient_transparent : linear-gradient(0deg, #80543ebb 0%, rgba(0,0,0,0) 100%);
$primary_transparent :#3a261c42;

*{
    cursor: default;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
a,button,input{
    cursor: pointer;
}
.pointer{
    cursor:pointer;
}
h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Urbanist', sans-serif;
} 
.hover_scale{
    transition: all .3s ease;
}
.hover_scale:hover{
    transform: scale(1.14);
    transition: all .3s ease;
}