<div class="techno-container">
    <h1 class="fw-600 uppercase">Nos domaines d’intervention</h1>
    <h5 class="mb-5 uppercase">Selon vos besoins </h5>
    <p class="paragraph">
    Nos consultants sont capables d’intervenir sur plusieurs technologies mobiles de pointes, Web, Desktop dont quelques unes sont respectivement citées ici, mais tous dépend du besoin de nos clients car nous formons également nos équipes.
    </p>
    <div class="techno-image">
        <img src="../../assets/images/techno1.jpg" alt="">
        <img src="../../assets/images/techno2.jpg" alt="">
        <img src="../../assets/images/techno3.jpg" alt="">
    </div>
</div>