.background-icon {
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0.1;
    width: 25vw;
    height: auto;
    -webkit-animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
}

.commentGrid {
    padding: 0 2rem;
    padding-top: 2.2rem;
}

.commentSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    max-width: 100vw;
}

.commentRow {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    max-width: 100vw;
}

.textCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
}

.commentDescription {
    text-align: center;
    color: #3a261c;
}

.commentIcon {
    width: 4rem;
    height: auto;
}

.commentMore {
    padding: 0.5rem 3rem;
    background-color: transparent;
    border-radius: 3rem;
    text-transform: uppercase;
    color: #f4623a;
    border: #f4623a solid 0.2rem;
}

.imageCard {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

.commentSection .title {
    color: #3a261c;
}

.commentTitle {
    color: #3a261c;
    text-align: center;
}

.clockContainer {
    position: relative;
}

.clock {
    position: absolute;
    right: 0;
    bottom: -2rem;
    width: 20vw;
    height: auto;
    opacity: 0.1;
}

.clock-hour {
    -webkit-animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
}

.clock-minute {
    -webkit-animation: rotation 20s linear infinite;
    -moz-animation: rotation 20s linear infinite;
    -ms-animation: rotation 20s linear infinite;
}


/**************************ANIMATION**************************/

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes rotation {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}


/***********************RESPONSIVE*********************/

@media only screen and (max-width: 1080px) {
    .commentRow {
        display: grid;
        grid-template-columns: 100%;
    }
    .textCard {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .fourth {
        grid-row: 4;
    }
}