@import "../../assets/scss_init.scss";
.title {
    margin-top: 2rem;
    font-size: 2rem;
}

.background-icon {
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0.1;
    width: 25vw;
    height: auto;
    -webkit-animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
}

.commentGrid {
    padding: 0 2rem;
    padding-top: 2.2rem;
}

.commentSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.commentRow {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 24% 24% 24% 28%;
}

.textCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4vw;
}

.commentDescription {
    text-align: center;
    color: #3a261c;
}

.commentIcon {
    width: 4rem;
    height: auto;
}

.commentMore {
    padding: 0.5rem 3rem;
    margin-top: 1rem;
    background-color: transparent;
    border-radius: 3rem;
    text-transform: uppercase;
    color: $primary_color;
    border: $primary_color solid 0.2rem;
    transition: all 0.3s ease-in-out;
}

.commentMore:hover {
    background-color: $primary_color;
    color: white;
    border: $primary_color solid 0.2rem;
}

.imageCard {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

.commentSection .title {
    color: $secondary_color;
}

.commentTitle {
    color: $secondary_color;
    text-align: center;
}

.clockContainer {
    position: relative;
}

.clock {
    position: absolute;
    right: 0;
    bottom: -2rem;
    width: 20vw;
    height: auto;
    opacity: 0.1;
}

.clock-hour {
    -webkit-animation: rotation 60s linear infinite;
    -moz-animation: rotation 60s linear infinite;
    -ms-animation: rotation 60s linear infinite;
}

.clock-minute {
    -webkit-animation: rotation 20s linear infinite;
    -moz-animation: rotation 20s linear infinite;
    -ms-animation: rotation 20s linear infinite;
}


/**************************ANIMATION**************************/

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes rotation {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}
.uppercase{
    text-transform: uppercase;
}

/***********************RESPONSIVE*********************/

@media only screen and (max-width: 1080px) {
    .commentRow {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .fourth {
        grid-row: 4;
    }
    .commentGrid {
        padding: 1rem;
    }
    .imageCardContainer {
        margin: 0;
        padding: 0;
    }
    .commentRow div {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}