<div class="commentSection">
  <img src="../../assets/icon/service.png" class="background-icon" alt="" />
  <h1 class="title"><b>Comment?</b></h1>
  <div class="commentGrid">
    <div class="commentRow">
      <div class="textCard">
        <img
          src="../../assets/icon/technical-support.png"
          class="commentIcon"
          alt="..."
        />
        <h2 class="commentTitle">Une forte expertise technique</h2>
        <p class="commentDescription">
          Nos consultants bénéficient d'un excellent niveau de formation grâce à
          des études faites dans les meilleurs université d'Afrique et d'Europe,
          et ont souvent bénéficiés de formation par des organisme européens de
          pointes
        </p>
        <a href="#">
          <button class="commentMore">En savoir plus</button>
        </a>
      </div>
      <div class="imageCardContainer">
        <img
          src="../../assets/images/services-1.jpg"
          class="imageCard"
          alt="..."
        />
      </div>
    </div>
    <div class="commentRow">
      <div class="imageCardContainer">
        <img
          src="../../assets/images/services-1.jpg"
          class="imageCard"
          alt="..."
        />
      </div>
      <div class="textCard">
        <img
          src="../../assets/icon/technical-support.png"
          class="commentIcon"
          alt="..."
        />
        <h2 class="commentTitle">Une forte expertise technique</h2>
        <p class="commentDescription">
          Nos consultants bénéficient d'un excellent niveau de formation grâce à
          des études faites dans les meilleurs université d'Afrique et d'Europe,
          et ont souvent bénéficiés de formation par des organisme européens de
          pointes
        </p>
        <a href="#">
          <button class="commentMore">En savoir plus</button>
        </a>
      </div>
    </div>
    <div class="commentRow">
      <div class="textCard">
        <img
          src="../../assets/icon/technical-support.png"
          class="commentIcon"
          alt="..."
        />
        <h2 class="commentTitle">Une forte expertise technique</h2>
        <p class="commentDescription">
          Nos consultants bénéficient d'un excellent niveau de formation grâce à
          des études faites dans les meilleurs université d'Afrique et d'Europe,
          et ont souvent bénéficiés de formation par des organisme européens de
          pointes
        </p>
        <a href="#">
          <button class="commentMore">En savoir plus</button>
        </a>
      </div>
      <div class="imageCardContainer">
        <img
          src="../../assets/images/services-1.jpg"
          class="imageCard"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
