<div class="commentSection">
  <img src="assets/icon/service.png" class="background-icon" alt="" />
  <h1 class="title"><b>Comment?</b></h1>
  <div class="commentGrid">
    <div class="commentRow">
      <div class="textCard">
        <img
          src="assets/icon/technical-support.png"
          class="commentIcon"
          alt="..."
        />
        <h2 class="commentTitle"><b>Une forte expertise technique</b></h2>
        <p class="commentDescription">
          Nos consultants bénéficient d'un excellent niveau de formation grâce à
          des études faites dans les meilleurs université d'Afrique et d'Europe,
          et ont souvent bénéficiés de formation par des organisme européens de
          pointes
        </p>
        <a href="#">
          <button class="commentMore">
            En savoir plus
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </a>
      </div>
      <div class="imageCardContainer">
        <img src="assets/images/services-1.jpg" class="imageCard" alt="..." />
      </div>

      <div class="imageCardContainer fourth">
        <img src="assets/images/services-2.jpg" class="imageCard" alt="..." />
      </div>
      <div class="textCard">
        <img src="assets/icon/wrench.png" class="commentIcon" alt="..." />
        <h2 class="commentTitle"><b>Un sens du service</b></h2>
        <p class="commentDescription">
          Nous intervenons dans le monde du conseil depuis plus de 20 ans. Le
          sens du service et de la satisfaction client sont inhérente à la
          culture et au savoir vivre Malagasy.
        </p>
        <a href="#">
          <button class="commentMore">
            En savoir plus
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </a>
      </div>
      <div class="textCard">
        <img src="assets/icon/teamwork.png" class="commentIcon" alt="..." />
        <h2 class="commentTitle"><b>Une culture francophone</b></h2>
        <p class="commentDescription">
          Le passé de Madagascar fait qu'une forte culture francophone existe.
          L'ensemble de nos équipes parlent Français et Anglais.
        </p>
        <a href="#">
          <button class="commentMore">
            En savoir plus
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </a>
      </div>
      <div class="imageCardContainer">
        <img src="assets/images/services-3.jpg" class="imageCard" alt="..." />
      </div>
      <div class="textCard">
        <img src="assets/icon/bulding.png" class="commentIcon" alt="..." />
        <h2 class="commentTitle"><b>Des infrastructures IT de qualité</b></h2>
        <p class="commentDescription">
          Madagascar bénéficie de la meilleure connexion du continent Africain,
          grâce au cable sous-marin reliant le Soudan à l'Afrique du Sud, avec
          un backbone de qualité en Fibre Optique dans toutes les grandes villes
          du pays.
        </p>
        <a href="#">
          <button class="commentMore">
            En savoir plus
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </a>
      </div>
      <div class="textCard">
        <img src="assets/icon/wall-clock.png" class="commentIcon" alt="..." />
        <h2 class="commentTitle"><b>Un créneau horaire favorable</b></h2>
        <p class="commentDescription">
          Nos équipes sont localisées à Antananarivo et Fianarantsoa,
          respectivement capitale administrative et la capitale intellectuelle
          de Madagascar. Le fuseau horaire est de GMT+2, soit 1 heure de
          décalage avec Paris / Bruxelles / Asmterdam en été. Vous pouvez donc
          travailler sans problème avec nos équipes qui s'adaptent à vos
          horaires.
        </p>
        <a href="#">
          <button class="commentMore">
            En savoir plus
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </a>
      </div>
    </div>
  </div>
  <img
    src="assets/icon/clockWithout.png"
    class="clock background-icon-clock"
    alt=""
  />
  <img
    src="assets/icon/hourspng.png"
    class="clock background-icon-clock clock-hour"
    alt=""
  />
  <img
    src="assets/icon/Minutes.png"
    class="clock background-icon-clock clock-minute"
    alt=""
  />
</div>
